@font-face {
    font-family: "Rubik";
    src: url("./assets/fonts/RubikFont/Rubik-VariableFont_wght.ttf");
}
  
@font-face {
    font-family: "Rubik-Italic";
    src: url("./assets/fonts/RubikFont/Rubik-Italic-VariableFont_wght.ttf");
}
  
$font-styles: "Rubik", "Rubik-Italic";

:root {
    font-family: $font-styles;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(16,20,31,255);
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}