.dev-card{
    width: 200px;
    height: fit-content;

    .dev-upper-wrapper{
        width: 100%;
        height: fit-content;
        position: relative;

        .dev-img{
            width: 100%;
        }

        .favorite-button{
            position: absolute;
            top: 1%;
            right: 1%;
        }
    }
}